

@charset "utf-8";

:root {
    --primary-color: #FFF8E7;
    --primary-font: "Caveat", cursive;
    --secondary-color: #6b6b6b;
    --general-font-size: 2vw;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
       margin: 0;
       background: white;
       font-family: var(--primary-font);
       font-size: 100%;
}

p {text-align: center;}

#wrapper { width: 1200px;
          margin: 0 auto;
           padding: 10px;
           background: #fff;
            align-items: center;
            justify-content: center;
           
            }


#bg-img {background-image: url("rg.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  background-attachment: fixed;
  opacity: 0.9;
  
}


#date {
  background-image: url("c2big.png");
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  
}

#multu {
  background-image: url("c3big.png");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  
}

h2 {color: #fff;
    }

a:link,
a:visited {color: white;
           text-decoration: none;}

a.two:link {color: var(--secondary-color);
           }
a.two:visited {color: var(--secondary-color);}
a.two:hover {font-size:150%;}

ul {margin:0;
   list-style: none;
   display: flex;}

li { padding: 10px;
}

#header {width: 1200px;
        margin: 0 auto;
        display: flex;
        position: fixed;
       
        }

#logo { padding: 10px 30px;
        margin: 10px;
        float: left;
       flex-basis: 300px;
       font-size: 35px;
         }

#nav {padding: 10px 20px;
      margin: 8px;
      float: right;
      width: 700px;
      font-size: 25px;
   
      }

#invitatie {clear: both;
            width: 800px;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
           
           
}

#info {width: 830px;
        margin: 0 auto;
        background-color: var(--primary-color);
        display: flex;
        opacity: 0.7;
        }

.text {background: var(--secondary-color);
       padding: 20px;
       color: #fff;
       flex-basis: 440px;
       overflow: scroll;}

p.p1 {font-weight: bold;
      font-size: 2.5vw;
     }

.text h2 { color: #fff;
           text-transform: uppercase;
           margin: 0;
           text-align: center;
 }

#unde { width: 400px;
        float: right;
        padding: 15px;
}

#cand {width: 400px;
       float: left;
       padding: 15px;}

}

p {text-align: center;
   line-height: 1;
   }

#intro {clear: both;
            background-color: #fff;
            width: 600px;
            display: flex;
            margin: 0 auto;
            font-size: 50px;
            color: var(--secondary-color);
            }


.headform {text-align: center;
        font-family: var(--primary-font);
       font-size: 4vw;

       } 

     

hr {
  border-top: 3px solid var(--primary-color);
}

footer {
        padding: 20px 0 20px 0;
        border-top: 1px solid gray;
        Text-align: center;
        Font-size: 19px;
        background-color: white;
        color: black;
        margin: 50px 0 50px 0;
        display: block;
         clear: both;
        family-font: var(--primary-font)}

span[data-descr] {
    position: relative;
    font-weight: bold;
    color: black;
    cursor: e-resize;
    background-color: var(--primary-color);
}
 
span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    bottom: 24px;
    min-width: 140px;
    border-radius: 4px;
    padding: 12px;
    color: black;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
}

img { width: 100%;
      object-fit: contain;
      object-position: bottom;
}


#container {container-type: inline-size;
            width: 800px;
            margin: 0 auto;
           }

/* CSS */
.button-55 {  font-family: "Caveat", cursive;
  align-self: center;
  background-color: #6b6b6b;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
 border-color: white;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #fff;
 font-size: 3vw;
  cursor: pointer;
  display: inline-block;
  line-height: 27px;
  outline: none;
  padding: .75rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}



@media screen and (min-width: 1024px)
{ #wrapper { width: 1000px;}
  #header { width: 1000px;}
  #invitatie, #info {font-size: 24px;}
 #headform p {font-size: 24px;}
 
}

@media screen and (min-width: 768px) and (max-width: 1023px)
{ #wrapper { width: 700px;}
  #header {width: 700px;
          display: block;
           text-align: center;}
  #nav ul {justify-content: center;}
  .headform p {font-size: 28px;}
 
  #info {width: 700px;}

  #unde { width: 300px;
        float: right;
        padding: 15px;}

  #cand {width: 300px;
       float: left;
       padding: 15px;}
 
  #invitatie, #info { font-size: calc(16px + (21 - 16) * ((100vw - 767px) / (1023 - 767)));}


}

@media screen and (max-width: 767px)
{ #wrapper { width: 80%;}
  #header {width: 80%;
           }
  #nav ul { display: none;}
  #intro, #invitatie, #container {width: 80%;}

  #info {width: 80%;
         flex-wrap: wrap;}
  .text {font-size: 24px;}
  p.p1 {font-size: 26px;}

  #cand, #unde {font-size: 24px;}
 
  .headform {font-size: 24px;}
 .headform h2 {font-size:29px;}
 
  #bg-img {background-image: url("rgsmall.jpg");
         background-attachment: scroll;
   }
  #date {
 
  background-attachment: scroll;}

  #multu { 
           background-attachment: scroll;}
   }

@container (max-width: 767px)
{ .headform h1 {font-size: 20px;}
